[Unit]
Description="Pacman - Update Checker"
After=network.target

[Service]
Type=oneshot
ExecStart=//usr/sbin/pac-updater
RemainAfterExit=false
#ExecStop=/opt/foo/teardown-foo.sh
#StandardOutput=journal
StandardOutput=/var/log/pac-updater.log

[Install]
WantedBy=multi-user.target
