[Unit]
Description="Pacman - Update Checker"
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman-system-updater
RemainAfterExit=false
#StandardOutput=journal
StandardOutput=append:/var/log/pac-updater.log

[Install]
WantedBy=multi-user.target
